<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Library Management System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>controller.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>controller.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckDue</servlet-name>
    <servlet-class>controller.CheckDue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDue</servlet-name>
    <url-pattern>/CheckDue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelBook</servlet-name>
    <servlet-class>controller.DelBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelBook</servlet-name>
    <url-pattern>/DelBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelStudentServlet</servlet-name>
    <servlet-class>controller.DelStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStudentServlet</servlet-name>
    <url-pattern>/DelStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IssueBook</servlet-name>
    <servlet-class>controller.IssueBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBook</servlet-name>
    <url-pattern>/IssueBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>controller.ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Validate</servlet-name>
    <servlet-class>controller.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDAO</display-name>
    <servlet-name>BookDAO</servlet-name>
    <servlet-class>dao.BookDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDAO</servlet-name>
    <url-pattern>/BookDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDAOImp</display-name>
    <servlet-name>BookDAOImp</servlet-name>
    <servlet-class>dao.BookDAOImp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDAOImp</servlet-name>
    <url-pattern>/BookDAOImp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBookDAO</display-name>
    <servlet-name>IssueBookDAO</servlet-name>
    <servlet-class>dao.IssueBookDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBookDAO</servlet-name>
    <url-pattern>/IssueBookDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBookImp</display-name>
    <servlet-name>IssueBookImp</servlet-name>
    <servlet-class>dao.IssueBookImp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBookImp</servlet-name>
    <url-pattern>/IssueBookImp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianDAO</display-name>
    <servlet-name>LibrarianDAO</servlet-name>
    <servlet-class>dao.LibrarianDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianDAO</servlet-name>
    <url-pattern>/LibrarianDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianDAOImp</display-name>
    <servlet-name>LibrarianDAOImp</servlet-name>
    <servlet-class>dao.LibrarianDAOImp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianDAOImp</servlet-name>
    <url-pattern>/LibrarianDAOImp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBooksClass</display-name>
    <servlet-name>ReturnBooksClass</servlet-name>
    <servlet-class>dao.ReturnBooksClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBooksClass</servlet-name>
    <url-pattern>/ReturnBooksClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDAO</display-name>
    <servlet-name>StudentDAO</servlet-name>
    <servlet-class>dao.StudentDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDAO</servlet-name>
    <url-pattern>/StudentDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDAOImp</display-name>
    <servlet-name>StudentDAOImp</servlet-name>
    <servlet-class>dao.StudentDAOImp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDAOImp</servlet-name>
    <url-pattern>/StudentDAOImp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Books</display-name>
    <servlet-name>Books</servlet-name>
    <servlet-class>dto.Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Books</servlet-name>
    <url-pattern>/Books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Librarian</display-name>
    <servlet-name>Librarian</servlet-name>
    <servlet-class>dto.Librarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Librarian</servlet-name>
    <url-pattern>/Librarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>dto.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateLibrarian</display-name>
    <servlet-name>ValidateLibrarian</servlet-name>
    <servlet-class>dto.ValidateLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLibrarian</servlet-name>
    <url-pattern>/ValidateLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCUtil</display-name>
    <servlet-name>JDBCUtil</servlet-name>
    <servlet-class>util.JDBCUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCUtil</servlet-name>
    <url-pattern>/JDBCUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBooksServlet</display-name>
    <servlet-name>ListBooksServlet</servlet-name>
    <servlet-class>controller.ListBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBooksServlet</servlet-name>
    <url-pattern>/ListBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStudents</display-name>
    <servlet-name>DisplayStudents</servlet-name>
    <servlet-class>controller.DisplayStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStudents</servlet-name>
    <url-pattern>/DisplayStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStudentServlet</display-name>
    <servlet-name>SearchStudentServlet</servlet-name>
    <servlet-class>controller.SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentServlet</servlet-name>
    <url-pattern>/SearchStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>controller.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookServlet</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>controller.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllBookServlet</display-name>
    <servlet-name>DisplayAllBookServlet</servlet-name>
    <servlet-class>controller.DisplayAllBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllBookServlet</servlet-name>
    <url-pattern>/DisplayAllBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBUtil</display-name>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>myPackageutil.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/DBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>myPackageServlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>myPackageServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>myPackageServlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>myPackageServlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>file</display-name>
    <servlet-name>file</servlet-name>
    <servlet-class>myPackageDao.file</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>file</servlet-name>
    <url-pattern>/file</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>myPackageDao.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>myPackageDao.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDaoImpl</display-name>
    <servlet-name>UserDaoImpl</servlet-name>
    <servlet-class>myPackageDao.UserDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDaoImpl</servlet-name>
    <url-pattern>/UserDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfile</display-name>
    <servlet-name>ViewProfile</servlet-name>
    <servlet-class>controller.ViewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfile</servlet-name>
    <url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IssueBookStudent</servlet-name>
    <servlet-class>controller.IssueBookStudent</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>IssueBookStudent</servlet-name>
    <url-pattern>/IssueBookStudent</url-pattern>
</servlet-mapping>
</web-app>